.footer-container {
  margin-top: 25px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
  color: $fontColorGray;
  flex-direction: column;
  text-align: center;

  .footer-container__link {
    color: $fontColorGray;
  }
}

@media (min-width: 765px) {
  .footer-container {
    flex-direction: row;

    .footer-container__link {
      text-align: center;
      flex-basis: 33%;
    }

    .footer-container__paragraph-1 {
      flex-basis: 33%;
    }
    .footer-container__paragraph-2 {
      text-align: right;
      flex-basis: 33%;
    }
  }
}
