$whiteColor: #fff;
$redColor: #ff3e79;
$backColor: #f8f8f8;
$fontColorGray: #7e7e82;
$lightGray: #eaeaea;

@import 'left-slide.scss';
@import 'price-table.scss';
@import 'swiper-brands.scss';
@import 'swiper-repair.scss';
@import 'swiper-price.scss';
@import 'swiper.scss';
@import 'all-content-position.scss';
@import 'footer.scss';
@import 'feedback-module.scss';

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes light';
  src: url('../fonts/TTLakes-Light.eot');
  src: local('TT Lakes Light'), local('TTLakes-Light'),
    url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Light.woff') format('woff'),
    url('../fonts/TTLakes-Light.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'TT Lakes';
  font-weight: 500;
  font-style: normal;
}

body {
  background: $backColor;
  width: 100%;
  height: auto;
}

.container-main-info {
  background-color: $whiteColor;
}

.upper-menu {
  height: 88px;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}

.upper-menu--left-side {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.upper-menu__group-ic::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 3px;
  margin-left: -10px;
  margin-top: 11px;
  background-color: $lightGray;
}

.upper-menu__ic-burger {
  align-self: center;
}

.upper-menu--right-side {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.main-content {
  background: $backColor;
  width: 100%;
}

.title-container {
  padding: 10px 0;
}

.title::before {
  content: '';
  height: 40px;
  width: 4px;
  background-image: url(../img/highlight.svg);
  position: absolute;
}

.title__text {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  margin-left: 20px;
  white-space: nowrap;
}

.u-list {
  display: flex;
  text-wrap: nowrap;
  margin-left: 20px;
  overflow-x: auto;
  padding: 0;
  gap: 5px;
}

.u-list::-webkit-scrollbar {
  width: 0;
}

.u-list::-moz-scrollbar {
  width: 0;
}

.u-list {
  .item {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border: 2px solid $backColor;
  }
  .item:hover {
    background-color: $whiteColor;
    border: 2px solid #b8ffec;
    border-radius: 5px;
  }
}

.u-list__link {
  color: $fontColorGray;
}

.content {
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__container {
  padding: 0 20px;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.con-text {
  text-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  overflow: hidden;
}

.read-next__icon {
  height: 24px;
  width: 24px;
  background-image: url(../img/expand-top.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $backColor;
  border: none;
}

.content__img {
  min-width: auto;
  height: auto;
}

.upper-menu--middle-side {
  display: none;
}

.main__title-icons {
  display: none;
}

.main-content-container--blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

@media (min-width: 760px) and (max-width: 1365px) {
  .upper-menu__group-ic::after {
    content: '';
    position: absolute;
    height: 32px;
    width: 3px;
    margin-left: 10px;
    margin-top: 11px;
    background-color: $lightGray;
  }

  .upper-menu__group-ic::before {
    display: none;
  }

  .upper-menu--middle-side {
    display: flex;
    justify-content: flex-start;
    gap: 17px;
  }

  .upper-menu__container {
    width: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: space-between;
  }

  .upper-menu__divider {
    margin-top: 5px;
  }

  .content {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content__container {
    max-height: 50vh;
  }

  .content__img {
    width: 45vw;
  }
}

@media (min-width: 1366px) {
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content__img {
    width: 45vw;
  }

  .content__container {
    max-height: 50vh;
  }

  .upper-menu {
    display: none;
  }

  .title-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .main__title-icons {
    display: flex;
    gap: 20px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 25px;
  }

  .i-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .i-container__ic-repair {
    background-image: url(../img/repair.svg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $redColor;
    border: none;
  }

  .i-container__ic-checkstatus {
    background-image: url(../img/checkstatus.svg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $redColor;
    border: none;
  }
}

@media (min-width: 1366px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .content__container {
    flex-basis: 55%;
  }

  .content__img {
    flex-basis: 45%;
  }
}
